- if !timeframe.relative? || ApplicationPolicy.relative_timeframe?
  .flex-auto.flex.flex-col.lg:landscape:flex-row.gap-y-2.gap-x-8[
    data= refresh_options
  ]
    = tag.turbo_frame id: helpers.frame_id('stats'),
                      class: 'lg:flex-1 h-3/5 min-h-72 lg:h-auto flex',
                      src: stats_path,
                      target: '_top',
                      data: { stats_with_side__component_target: 'stats' }

    = tag.turbo_frame id: helpers.frame_id('side'),
                      class: 'flex-1 flex flex-col',
                      target: '_top',
                      data: { stats_with_side__component_target: 'side' } do
      = render SensorSelector::Component.new(sensor:, timeframe:, sensors: helpers.sensors)

      = render Swiper::Component.new do |component|
        - component.with_page do
          = tag.turbo_frame id: helpers.frame_id('chart'),
                            class: 'flex flex-col items-center justify-center h-full',
                            target: '_top',
                            data: { src: charts_path } do
            = render Loading::Component.new

- else
  = render DemoLink::Component.new feature: 'relative_timeframe',
                                   url: { **controller.__send__(:permitted_params) }
