/* Import styles from external libraries */
@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/animations/scale.css';
@import 'tippy.js/themes/light-border.css';
@import '@fortawesome/fontawesome-svg-core/styles.css';

/* Import app specific styles */
@import '../stylesheets/radial_badge.css';
@import '../stylesheets/animations.css';

.turbo-progress-bar {
  height: 5px;
  background-color: #a5b4fc;
}

/* Minimalistic form styling, inspired by DaisyUI */
.form-control {
  @apply flex flex-col;
}

.label {
  @apply py-1 text-gray-600;
}

.label-text {
  @apply text-sm;
}

.input-error {
  @apply !border-red-500 !ring-red-500;
}

* {
  /* Disable default callouts for touch targets on iOS */
  -webkit-touch-callout: none;
  /* Disable dragging on iOS */
  -webkit-user-drag: none;
}

/* Disable pointer events when Tooltip is shown (see tippy_controller.ts) */
body.active-tippy * {
  @apply pointer-events-none;
}

#modal code {
  @apply rounded bg-slate-100 px-1 py-px;
}

.min-h-dvh {
  /* Fallback for browsers that do not support Dynamic viewport units */
  min-height: 100vh;
}

/* Import Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;
