- if helpers.turbo_frame_request?
  = tag.turbo_frame id: 'modal' do
    div data-controller='turbo-modal--component'
      = render sheet do |sheet_component|
        - if (text = heading)
          - sheet_component.with_title do
            = text
        = content

- else
  h1 class= 'font-bold text-2xl text-gray-800 dark:text-gray-300'
    = heading

  = content
