= render TurboModal::Component.new(title:, narrow: true) do
  .flex.flex-col.flex-1.min-h-0
    time class='shrink-0 text-sm text-gray-500 dark:text-gray-400'
      = formatted_published_at

    div class=['mt-6 overflow-y-auto flex-1 min-h-0', BODY_CLASS]
      = safe_body

    .mt-6.pt-4.border-t.border-gray-200.dark:border-slate-700.flex.justify-end.shrink-0
      = render Button::Component.new path: mark_as_read_notification_path(notification),
                                     title: t('crud.ok'),
                                     type: :button,
                                     options: { \
                                       method: :patch,
                                       data: { \
                                         turbo_frame: '_top',
                                         action: 'click->turbo-modal--component#closeDialog',
                                       },
                                     }
