- if sensor_groups.any?
  = render Dropdown::Component.new \
      name: 'sensor-selector',
      items: sensor_groups,
      selected: current_sensor.name,
      display_name: current_sensor.display_name(:short),
      button_class: 'bg-gray-200 hover:bg-white dark:bg-gray-400 dark:hover:bg-gray-300 dark:text-gray-800'
