.annotaterb.yml
.byebug_history
.dockerignore
.env*
.eslint*
.git
.gitattributes
.github
.gitignore
.prettierignore
.prettierrc.json
.rspec
.rubocop.yml
.simplecov
.slim-lint.yml
.vscode
.yarnclean
**/*.DS_Store
bin/brakeman
bin/bundler-audit
bin/ci
bin/dev
bin/influxdb-restart.sh
bin/open
bin/rspec
bin/rubocop
bin/setup
bin/slim-lint
bin/yarn
Brewfile
Caddyfile
CLAUDE.md
compose.yaml
config/brakeman.ignore
config/bundler-audit.yml
config/ci.rb
config/environments/development.rb
config/environments/test.rb
config/rorvswild.yml
coverage
Dockerfile
docs
eslint.config.mjs
Guardfile
log/*
logo.svg
node_modules
Procfile*
screenshot.webp
spec
yarn-error.log

tmp/*
!/tmp/pids/
!/tmp/pids/.keep
