.annotaterb.yml
.byebug_history
.dockerignore
.env*
.eslint*
.git
.github
.gitignore
.gitattributes
.rspec
.rubocop.yml
.vscode
.yarnclean
.slim-lint.yml
.prettierignore
.prettierrc.json
.simplecov
**/*.DS_Store
Brewfile
Dockerfile
Procfile*
Guardfile
log/*
node_modules
tmp/*
!/tmp/pids/
!/tmp/pids/.keep
yarn-error.log
config/environments/test.rb
config/environments/development.rb
config/rorvswild.yml
config/brakeman.ignore
config/initializers/cypress_rails.rb
cypress.config.mjs
screenshot.webp
logo.svg
spec
coverage
bin/dev
bin/influxdb-restart.sh
bin/rspec
bin/rubocop
bin/setup
bin/yarn
bin/test
bin/open
bin/brakeman
eslint.config.mjs
.claude-on-rails
claude-swarm.yml
CLAUDE.md
