# Timezone
TZ=Europe/Berlin

# Date of PV system installation (first yield)
INSTALLATION_DATE=2025-01-01

# Dashboard
APP_HOST=localhost
ADMIN_PASSWORD=my-secret-admin-password
SECRET_KEY_BASE=my-secret-key-base
FORCE_SSL=false
WEB_CONCURRENCY=2
# FRAME_ANCESTORS=
# CO2_EMISSION_FACTOR=401

# PostgreSQL
DB_HOST=postgresql
DB_USER=postgres
POSTGRES_PASSWORD=my-secret-db-password

# InfluxDB
INFLUX_HOST=influxdb
INFLUX_SCHEMA=http
INFLUX_PORT=8086
INFLUX_ORG=solectrus
INFLUX_BUCKET=solectrus
INFLUX_USERNAME=admin
INFLUX_PASSWORD=my-secret-influx-password
INFLUX_ADMIN_TOKEN=my-secret-admin-token
INFLUX_TOKEN_READ=my-secret-read-token

INFLUX_POLL_INTERVAL=5

# Redis
REDIS_URL=redis://redis:6379/1

# Volumes
DB_VOLUME_PATH=./postgresql
INFLUX_VOLUME_PATH=./influxdb
REDIS_VOLUME_PATH=./redis

# Power Splitter
POWER_SPLITTER_INTERVAL=300

# Sensor mapping (InfluxDB measurement:field)
INFLUX_SENSOR_INVERTER_POWER=inverter:power
INFLUX_SENSOR_HOUSE_POWER=house:power
INFLUX_SENSOR_GRID_IMPORT_POWER=grid:import_power
INFLUX_SENSOR_GRID_EXPORT_POWER=grid:export_power
INFLUX_SENSOR_BATTERY_CHARGING_POWER=battery:charging_power
INFLUX_SENSOR_BATTERY_DISCHARGING_POWER=battery:discharging_power
INFLUX_SENSOR_BATTERY_SOC=battery:soc
INFLUX_SENSOR_WALLBOX_CAR_CONNECTED=wallbox:connected
INFLUX_SENSOR_WALLBOX_POWER=wallbox:power
INFLUX_SENSOR_CASE_TEMP=case:temperature
INFLUX_SENSOR_SYSTEM_STATUS=system:status
INFLUX_SENSOR_SYSTEM_STATUS_OK=system:status_ok
INFLUX_SENSOR_GRID_EXPORT_LIMIT=grid:export_limit
INFLUX_SENSOR_HEATPUMP_POWER=heatpump:power
INFLUX_SENSOR_CAR_BATTERY_SOC=car:battery_soc
# Custom sensors
INFLUX_SENSOR_CUSTOM_POWER_01=custom_01:power
INFLUX_SENSOR_CUSTOM_POWER_02=custom_02:power
INFLUX_SENSOR_CUSTOM_POWER_03=custom_03:power
INFLUX_SENSOR_CUSTOM_POWER_04=custom_04:power
## ...
INFLUX_SENSOR_CUSTOM_POWER_20=custom_20:power

# Heatpump
INFLUX_SENSOR_HEATPUMP_STATUS=heatpump:status
INFLUX_SENSOR_HEATPUMP_HEATING_POWER=heatpump:heating_power
INFLUX_SENSOR_HEATPUMP_TANK_TEMP=heatpump:tank_temp
INFLUX_SENSOR_OUTDOOR_TEMP=outdoor:temperature

# Forecasts
INFLUX_SENSOR_INVERTER_POWER_FORECAST=inverter_forecast:power
INFLUX_SENSOR_INVERTER_POWER_FORECAST_CLEARSKY=inverter_forecast_clearsky:power
INFLUX_SENSOR_OUTDOOR_TEMP_FORECAST=outdoor_forecast:temperature

# Optional: Exclude sensors from house power calculation
INFLUX_EXCLUDE_FROM_HOUSE_POWER=HEATPUMP_POWER,WALLBOX_POWER

#### Optional: Multiple Inverters

# Example 1: 3 strings, no balcony power plant
# Total inverter power is explicitly set.
# Note: Total value must be available for the entire time range!
INFLUX_SENSOR_INVERTER_POWER=inverter:power
INFLUX_SENSOR_INVERTER_POWER_1=inverter_1:power
INFLUX_SENSOR_INVERTER_POWER_2=inverter_2:power
INFLUX_SENSOR_INVERTER_POWER_3=inverter_3:power

# Example 2: 4 strings + balcony power plant
# Total inverter power is not set and will be calculated.
INFLUX_SENSOR_INVERTER_POWER=
INFLUX_SENSOR_INVERTER_POWER_1=inverter_1:power
INFLUX_SENSOR_INVERTER_POWER_2=inverter_2:power
INFLUX_SENSOR_INVERTER_POWER_3=inverter_3:power
INFLUX_SENSOR_INVERTER_POWER_4=inverter_4:power
INFLUX_SENSOR_INVERTER_POWER_5=inverter_5:power

# Example 3: Combined roof system + balcony power plant
# Total inverter power is not set and will be calculated.
INFLUX_SENSOR_INVERTER_POWER=
INFLUX_SENSOR_INVERTER_POWER_1=inverter_1:power
INFLUX_SENSOR_INVERTER_POWER_2=inverter_2:power

# Optional: Honeybadger.io error tracking
# HONEYBADGER_API_KEY=

# Optional: RorVsWild API key
# RORVSWILD_API_KEY=

# Optional: Analytics with Plausible
# PLAUSIBLE_URL=

# Optional: Lock app with a password
# LOCKUP_CODEWORD=

# Optional: Set static UI theme ('light' or 'dark')
# UI_THEME=
