= link_to path, data: { turbo: false } do
  div data-controller= 'tooltip' title= tooltip
    i.fa.fas.fa-lg.fa-circle-exclamation class= (unknown? ? 'text-red-300' : 'text-amber-300 dark:text-pink-400')
