.hidden data-tooltip-target= 'html'
  strong
    = l(date, format: date_format)

  - if grid_power?
    .text-xs.mt-1
      - GRID_FIELDS.each do |field, options|
        .label-value-row
          span = t("sensors.#{options[:label]}")
          span
            =< render SensorValue::Component.new(value[field], field, sign: options[:sign], precision: 0)

      .label-value-row.font-bold
        span = t('sensors.grid_balance')
        span
          = render SensorValue::Component.new(grid_balance.abs, :grid_balance, sign: grid_balance.negative? ? :negative : :positive, precision: 0)
  - else
    br
    = render SensorValue::Component.new(value, sensor.name, context: :total, scaling: :kilo)
