div class="w-full h-full overflow-hidden rounded-full bg-gradient-to-r from-yellow-400 to-yellow-600 shadow"
  div class="flex items-center h-full animate-flow"
    div class="border-yellow-400 border-t-8 border-r-8 p-6 transform rotate-45"
