.balance-gap.badge class= 'h-auto py-2 text-center text-yellow-500 dark:text-yellow-500/70'
  div data-controller= 'tooltip' data-tooltip-touch-value= 'long'
    = icon 'triangle-exclamation', class: 'fa-xl'

    template data-tooltip-target= 'html'
      .tooltip-layout.tooltip-layout-table
        = render TooltipHeader::Component.new(title: t('.title'))

        dl.tooltip-group
          = render CalcRow::Component.new(label: t('balance_sheet.left')) do
            = sources
          = render CalcRow::Component.new(label: t('balance_sheet.right'), operator: :minus) do
            = sinks
          = render CalcRow::Component.new(label: difference_label, operator: :equals) do
            = difference

        p.tooltip-footnote
          = t(explanation_key)

        p.tooltip-footnote
          = t('.consequence')
