.trend-indicator
  - if trend.same?
    | &plusmn; 0#{diff_suffix}
  - else
    = icon icon_name, class: color_class

    span< class=color_class
      - if show_diff_value?
        = Sensor::ValueFormatter.new(trend.diff, unit: :unitless, precision: trend.precision, sign: true).to_s
        =< diff_suffix
      - else
        = Sensor::ValueFormatter.new(trend.percent, unit: :percent, precision: 0, sign: true).to_s
