.justify-center.flex.items-center
  = render Dropdown::Component.new name: 'field-selector',
                                   items: field_items,
                                   selected: field,
                                   button_class: 'bg-transparent hover:bg-gray-100'
