= render 'settings/sensors/sensor_fields', f:, sensors: @consumer_sensors

hr.my-5.text-transparent
= f.check_box 'general[enable_custom_consumer]',
              checked: Setting.enable_custom_consumer,
              label: I18n.t('settings.sensors.enable_custom_consumer')
= f.check_box 'general[enable_heatpump]',
              checked: Setting.enable_heatpump,
              label: I18n.t('settings.sensors.enable_heatpump')
