= render 'settings/sub_nav'

= render layout: 'settings/sensors/form' do |f|
  = render VerticalTabs::Component.new do |c|
    - sensor_sections.each do |section|
      = c.with_tab id: section[:id], label: section[:name] do
        = render "settings/sensors/#{section[:id]}", f:
