= render 'settings/sub_nav',
         title: @section[:name],
         back_href: settings_sensors_path,
         back_label: t('settings.sensors.name')

= render layout: 'settings/sensors/form' do |f|
  = render "settings/sensors/#{@section[:id]}", f:
