.flex.flex-col.items-center.justify-center.py-16.gap-4.text-gray-300.dark:text-gray-700
  = icon icon_name, class: 'text-8xl opacity-40'
  = content
  p.text-gray-500.text-sm.md:text-base.text-center.max-w-prose.px-4
    = text
