.flex-auto.flex.flex-col[
  data= refresh_options
]
  = tag.turbo_frame id: frame_id('chart'),
                    class: 'flex-1 flex flex-col',
                    src: chart_path,
                    target: '_top'
