.tooltip-layout.tooltip-layout-table
  = render TooltipHeader::Component.new(title: t('.title'), sheet_only: true)

  / One sum: each part of the costs, with the energy it comes from below it
  dl.tooltip-group
    div
      = render CalcRow::Component.new(label: t('.grid.import_costs')) do
        = render SensorValue::Component.new(costs.parts.first, :grid_costs, sign: :negative, **costs.options)
      p.tooltip-detail
        = t('.grid.detail_html', energy: render(SensorValue::Component.new(data, :grid_import_power, context: :total)))

    div
      = render CalcRow::Component.new(label: t('.pv.opportunity_costs'), operator: :plus) do
        = render SensorValue::Component.new(costs.parts.last, :opportunity_costs, sign: :negative, **costs.options)
      p.tooltip-detail
        = t('.pv.detail_html', energy: render(SensorValue::Component.new(data, :self_consumption, context: :total)))

    = render CalcRow::Component.new(label: t('.total_costs'), operator: :equals, total: true) do
      = render SensorValue::Component.new(costs.sum, :total_costs, sign: :negative, **costs.options)
