---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/solectrus/solectrus/releases/latest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"48d69764b0b68163beab112681f2e2a9d167e58382b0bd0d6ca3d2d3c974c9cc"
      Last-Modified:
      - Sun, 11 Dec 2022 17:35:44 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '53'
      X-Ratelimit-Reset:
      - '1671017725'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '7'
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/solectrus/solectrus/releases/85662379","assets_url":"https://api.github.com/repos/solectrus/solectrus/releases/85662379/assets","upload_url":"https://uploads.github.com/repos/solectrus/solectrus/releases/85662379/assets{?name,label}","html_url":"https://github.com/solectrus/solectrus/releases/tag/v0.7.3","id":85662379,"author":{"login":"ledermann","id":3557,"node_id":"MDQ6VXNlcjM1NTc=","avatar_url":"https://avatars.githubusercontent.com/u/3557?v=4","gravatar_id":"","url":"https://api.github.com/users/ledermann","html_url":"https://github.com/ledermann","followers_url":"https://api.github.com/users/ledermann/followers","following_url":"https://api.github.com/users/ledermann/following{/other_user}","gists_url":"https://api.github.com/users/ledermann/gists{/gist_id}","starred_url":"https://api.github.com/users/ledermann/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ledermann/subscriptions","organizations_url":"https://api.github.com/users/ledermann/orgs","repos_url":"https://api.github.com/users/ledermann/repos","events_url":"https://api.github.com/users/ledermann/events{/privacy}","received_events_url":"https://api.github.com/users/ledermann/received_events","type":"User","site_admin":false},"node_id":"RE_kwDOEz9AiM4FGxqr","tag_name":"v0.7.3","target_commitish":"develop","name":"v0.7.3","draft":false,"prerelease":false,"created_at":"2022-12-11T17:23:44Z","published_at":"2022-12-11T17:35:44Z","assets":[],"tarball_url":"https://api.github.com/repos/solectrus/solectrus/tarball/v0.7.3","zipball_url":"https://api.github.com/repos/solectrus/solectrus/zipball/v0.7.3","body":"##
        Bugfixes\r\n\r\n- Tab \"Now\": Fix link targets to highlight active menu item\r\n-
        Fix main redirect to include timeframe param\r\n\r\n## Changes\r\n\r\n- Internal
        optimizations\r\n- Updated dependencies (Vite.js 4, Rollup 3, and more)\r\n\r\n**Full
        Changelog**: https://github.com/solectrus/solectrus/compare/v0.7.2...v0.7.3"}'
  recorded_at: Wed, 14 Dec 2022 11:14:46 GMT
recorded_with: VCR 6.1.0
