---
http_interactions:
- request:
    method: get
    uri: https://update.solectrus.de/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"67f66e8fb75b109f1e6fcef9d441973b"
    body:
      encoding: UTF-8
      string: '{"version":"v1.2.0","registration_status":"unregistered","notifications":[{"id":10,"title":"HELIOS
        ist unterwegs","published_at":"2026-05-09T15:30:55+02:00","body":"<div>Ein
        neues Tool macht SOLECTRUS-Installation und -Konfiguration endlich einfach
        – keine Kommandozeile, kein Hantieren mit Docker, alles im Browser. Funktional
        fast fertig. Wer mehr wissen möchte, findet die Details im Blog.<br><br><a
        href=\"https://solectrus.de/blog/2026-05-09-helios-ist-unterwegs/?utm_source=solectrus-app&amp;utm_medium=notification&amp;utm_campaign=helios-announcement\">https://solectrus.de/blog/2026-05-09-helios-ist-unterwegs/</a></div>"}],"signature":"RHPviGczR72S9MLZPlGbfgLWNOKqAFZuC7iUd+4l/KnbxM2TsWsFCtr82x3DtrnX1yGqyg4JcQMo6ni5173lDQ=="}'
  recorded_at: Mon, 01 Jun 2026 04:51:08 GMT
recorded_with: VCR 6.4.0
