---
http_interactions:
- request:
    method: get
    uri: https://update.solectrus.de/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d825c3857a116338cff780c91819e27a"
    body:
      encoding: UTF-8
      string: '{"version":"v1.2.1","registration_status":"unregistered","notifications":[{"id":10,"title":"HELIOS
        ist unterwegs","published_at":"2026-05-09T15:30:55+02:00","body":"<div>Ein
        neues Tool macht SOLECTRUS-Installation und -Konfiguration endlich einfach
        – keine Kommandozeile, kein Hantieren mit Docker, alles im Browser. Funktional
        fast fertig. Wer mehr wissen möchte, findet die Details im Blog.<br><br><a
        href=\"https://solectrus.de/blog/2026-05-09-helios-ist-unterwegs/?utm_source=solectrus-app&amp;utm_medium=notification&amp;utm_campaign=helios-announcement\">https://solectrus.de/blog/2026-05-09-helios-ist-unterwegs/</a></div>"},{"id":11,"title":"Version
        1.2 räumt die Oberfläche auf","published_at":"2026-06-01T13:45:03+02:00","body":"<div>Frisch
        veröffentlicht: zwei größere Neuerungen und jede Menge Feinschliff. Das erwartet
        dich:<br><br></div><ul><li>Neue Menüleiste am unteren Bildschirmrand – wechsle
        auf dem Smartphone direkt zwischen den wichtigsten Bereichen</li><li>Hausverbrauch
        jetzt auch als Tabelle – alle Verbraucher mit genauen Werten auf einen Blick</li><li>Diagramme
        berücksichtigen Sensorausfälle – längere Lücken werden ehrlich angezeigt statt
        überbrückt</li><li>... und viele kleinere Verbesserungen und Korrekturen –
        an der Oberfläche und unter der Haube</li></ul><div><br>Alle Details mit Screenshots
        und Beispielen im Blog:<br><a href=\"https://solectrus.de/blog/2026-05-30-version-1-2/?utm_source=solectrus-app&amp;utm_medium=notification&amp;utm_campaign=version-1-2\">https://solectrus.de/blog/2026-05-30-version-1-2/</a></div>"}],"signature":"bqXwcAZb3WifAlhd900xivWhi/147/VV9GQvR2QjlS/2YrbAbmLf7Iebdi9130uYBcfXp/Mg2bW/5tzgBnr8Bw=="}'
  recorded_at: Fri, 05 Jun 2026 09:41:50 GMT
recorded_with: VCR 6.4.0
