---
http_interactions:
- request:
    method: get
    uri: https://update.solectrus.de/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2690dd956089d36bd86285b87de41b10"
    body:
      encoding: UTF-8
      string: '{"version":"v1.3.0","registration_status":"unregistered","premium_reason":"intro","premium_ends_at":"2026-09-13T17:22:21+02:00","registration_reminder_at":"2026-09-02T17:22:21+02:00","registration_due_at":"2026-09-06T17:22:21+02:00","signature":"LBmi5XBOcw/X6OOuD9ZzTVd9vB1LbauiScFBlYFJTfGJcjKxquHzpb/P6cs4DpmWFw8VX0O+3pROB0eEdP+/Ag=="}'
  recorded_at: Sun, 30 Aug 2026 15:22:45 GMT
recorded_with: VCR 6.4.0
