= render Balance::Component.new data:,
                                timeframe:,
                                sensor:,
                                peak: do |balance|

  = balance.with_center do
    - if Sensor::Config.exists?(:autarky)
      = link_to root_path(sensor_name: 'autarky', timeframe:),
                data: { \
                  turbo_frame: helpers.frame_id('chart'),
                  turbo_action: 'replace',
                  turbo_prefetch: 'false',
                  'stats-with-chart--component-target': 'current',
                  sensor_name: 'autarky',
                  value: data.autarky,
                  time: data.time.to_i,
                  action: 'stats-with-chart--component#startLoop',
                  stats_with_chart__component_sensor_param: 'autarky',
                },
                class: 'click-animation' do
        div data-controller="tippy" data-tippy-touch-value= "true"
          = render RadialBadge::Component.new(percent: data.autarky, title: Sensor::Registry[:autarky].display_name(:short))
          .hidden#autarky-details-tooltip data-tippy-target="html"
            = render AutarkyDetails::Component.new(data:, timeframe:)

    - if Sensor::Config.exists?(:self_consumption_quote) && data.self_consumption_quote
      = link_to root_path(sensor_name: 'self_consumption_quote', timeframe:),
                data: { \
                  turbo_frame: helpers.frame_id('chart'),
                  turbo_action: 'replace',
                  turbo_prefetch: 'false',
                  'stats-with-chart--component-target': 'current',
                  sensor_name: 'self_consumption_quote',
                  value: data.self_consumption_quote,
                  time: data.time.to_i,
                  action: 'stats-with-chart--component#startLoop',
                  stats_with_chart__component_sensor_param: 'self_consumption_quote',
                },
                class: 'click-animation' do
        div data-controller="tippy" data-tippy-touch-value= "true"
          = render RadialBadge::Component.new(percent: data.self_consumption_quote, neutral: true, title: Sensor::Registry[:self_consumption_quote].display_name(:short))
          .hidden#consumption-details-tooltip data-tippy-target="html"
            = render ConsumptionDetails::Component.new(data:, timeframe:)

    div class="flex-1 flex flex-col justify-center -mx-2 sm:-mx-4"
      = render Flow::Component.new value: data.total, max: max_flow

    - if data.case_temp&.nonzero?
      = link_to root_path(sensor_name: 'case_temp', timeframe:),
                data: { \
                  turbo_frame: helpers.frame_id('chart'),
                  turbo_action: 'replace',
                  turbo_prefetch: 'false',
                  'stats-with-chart--component-target': 'current',
                  sensor_name: 'case_temp',
                  value: data.case_temp,
                  time: data.time.to_i,
                  action: 'stats-with-chart--component#startLoop',
                  stats_with_chart__component_sensor_param: 'case_temp',
                },
                class: 'click-animation' do
        = render RadialBadge::Component.new(title: Sensor::Registry[:case_temp].display_name) do
          = render SensorValue::Component.new(data, :case_temp, precision: 0)

    - if Sensor::Config.exists?(:battery_soc) && Sensor::Config.exists?(:car_battery_soc)
      = render SocBadge::Component.new( \
          battery_soc: data.battery_soc,
          car_battery_soc: data.car_battery_soc,
          time: data.time,
          timeframe:,
          car_connected: data.wallbox_car_connected,
        )

    - elsif Sensor::Config.exists?(:battery_soc)
      = link_to root_path(sensor_name: 'battery_soc', timeframe:),
                data: { \
                  turbo_frame: helpers.frame_id('chart'),
                  turbo_action: 'replace',
                  turbo_prefetch: 'false',
                  'stats-with-chart--component-target': 'current',
                  sensor_name: 'battery_soc',
                  value: data.battery_soc,
                  time: data.time.to_i,
                  action: 'stats-with-chart--component#startLoop',
                  stats_with_chart__component_sensor_param: 'battery_soc',
                },
                class: 'click-animation' do
        = render RadialBadge::Component.new(percent: data.battery_soc, neutral: true, title: t('balance_sheet.soc'))
