= public_send(method, path, options.merge(class: [options[:class], icon_option && title ? 'gap-2' : nil, btn_class])) do
  - if icon_option
    = icon icon_name, class: icon_class

  - if title
    span
      = title
