<div class="text-center p-5">
  <h1 class="text-5xl">SENEC</h1>
  <p class="text-gray-500"><%= t('calculator.last24h') %></p>
</div>

<%= tag.turbo_frame id: 'cards', src: cards_path do %>
<%= tag.div render('loading'), class: 'm-20' %>
<% end %>