= link_to path, class: 'click-animation flex items-center justify-center gap-2 rounded-lg px-3 py-2 text-sm bg-amber-100 text-amber-900 dark:bg-amber-900/40 dark:text-amber-200 focus:outline-none focus-visible:ring-2 focus-visible:ring-gray-700 dark:focus-visible:ring-gray-400' do
  = helpers.icon 'circle-question'
  span
    = t('.text', count: totals[:count])
    '
    = render energy
