- if days
  .flex.flex-col.flex-1.gap-2 data={ controller: 'forecast--component' }
    - if show_outdoor_temp?
      .flex-1.flex.flex-col
        = render LazyFrame::Component.new id: 'outdoor-temp-forecast-chart',
                                          src: helpers.forecast_chart_path(:outdoor_temp, days:),
                                          class: 'flex-1 flex flex-col relative',
                                          loading: 'lazy'

    .flex-1.flex.flex-col
      = render LazyFrame::Component.new id: 'inverter-power-forecast-chart',
                                        src: helpers.forecast_chart_path(:inverter_power, days:),
                                        class: 'flex-1 flex flex-col relative',
                                        loading: 'lazy'
- else
  .flex.flex-1.items-center.justify-center
    .text-center
      p.text-gray-500 = t('data.blank')
