button.size-14.rounded-full.bg-indigo-600.dark:bg-indigo-800.text-white.shadow-lg.hover:bg-indigo-700.click-animation.focus:outline-none.focus:ring-2.focus:ring-indigo-500.focus:ring-offset-2.disabled:bg-gray-300.disabled:dark:bg-gray-600.disabled:shadow-none.disabled:pointer-events-none.transition-colors[
  type="submit"
  title=t('crud.save')
  aria-label=t('crud.save')
  data-controller="tooltip"
  data-tooltip-placement-value="top"
  data-form-dirty-target="submit"
]
  i.fa.fas.fa-check.fa-lg
