@import 'tailwindcss' reference;

/* Allow overflow and set width for timeframe select modal */
[data-turbo-modal--component-target='inner']:has(.timeframe-select) {
  @apply max-w-xl overflow-visible;
}

/* Dropdown icon for select/input fields */
.dropdown-icon {
  @apply pr-10;

  background-image: url('data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 fill=%27none%27 viewBox=%270 0 20 20%27%3E%3Cpath stroke=%27%236b7280%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%271.5%27 d=%27m6 8 4 4 4-4%27/%3E%3C/svg%3E');
  background-position: right 0.75rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
}
