- if calc.max?
  = link_to url_for(**helpers.permitted_params, calc: 'sum', only_path: true),
            class: 'flex items-center px-4 py-2 bg-gray-200 dark:bg-gray-400 text-gray-900 rounded-md shadow-xs font-medium text-sm ' \
                   'hover:bg-white dark:hover:bg-gray-300 ' \
                   'focus:outline-hidden focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500',
            data: { \
              controller: 'tippy',
              tippy_touch_value: false,
            },
            title: t('.title') do
    svg.h-5 viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"
      path stroke="none" d="M0 0h24v24H0z" fill="none"
      path d="M12 5m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"
      path d="M3 20c0 -8.75 4 -14 7 -14.5m4 0c3 .5 7 5.75 7 14.5"

- if calc.sum?
  = link_to url_for(**helpers.permitted_params, calc: 'max', only_path: true),
            class: 'flex items-center px-4 py-2 bg-gray-200 dark:bg-gray-400 text-gray-900 rounded-md shadow-xs font-medium text-sm ' \
                   'hover:bg-white dark:hover:bg-gray-300 ' \
                   'focus:outline-hidden focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500',
            data: { \
              controller: 'tippy',
              tippy_touch_value: false,
            },
            title: t('.title') do
    svg.h-5 viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"
      path stroke="none" d="M0 0h24v24H0z" fill="none"
      path d="M18 16v2a1 1 0 0 1 -1 1h-11l6 -7l-6 -7h11a1 1 0 0 1 1 1v2"
