.tooltip-layout.tooltip-layout-table
  dl.tooltip-group
    = render CalcRow::Component.new(label: Sensor::Registry[:grid_import_power].display_name(:short)) do
      = render SensorValue::Component.new(data, :grid_import_power, **consistent_options)
    = render CalcRow::Component.new(label: Sensor::Registry[:total_consumption].display_name(:short), operator: :divide) do
      = render SensorValue::Component.new(data, :total_consumption, **consistent_options)
    = render CalcRow::Component.new(label: Sensor::Registry[:grid_quote].display_name(:short), operator: :equals) do
      = render SensorValue::Component.new(data, :grid_quote)

  dl.tooltip-group
    = render CalcRow::Component.new(label: autarky_formula, total: true) do
      = render SensorValue::Component.new(data, :autarky)
