- if car_driving_costs
  / The calculation, one factor per row, like a written multiplication
  table.border-separate.border-spacing-x-2.border-spacing-y-1
    tr
      td
      td.text-left.text-sm.opacity-75 = t('sensors.car_distance_short')
      td.text-right.font-semibold.whitespace-nowrap
        = render SensorValue::Component.new(distance, :car_mileage_1)
    tr
      td.text-sm.opacity-75 = '×'
      td.text-left.text-sm.opacity-75 = t('sensors.car_cost_per_100km_short')
      td.text-right.font-semibold.whitespace-nowrap
        = render SensorValue::Component.new(car_cost_per_100km, :total_costs, precision: 2)
    tr
      td colspan=3
        hr.my-1.border-gray-400.dark:border-slate-500.opacity-50
    tr
      td.text-sm.opacity-75 = '='
      td.text-left.text-sm.opacity-75 = t('sensors.car_driving_costs')
      td.text-right.font-semibold.whitespace-nowrap
        = render SensorValue::Component.new(car_driving_costs, :total_costs, sign: :negative)
  - unrated_note = Car::UnratedNote::Component.new(distance: car_distance, rated_distance: distance)
  - if unrated_note.render?
    .mt-2 = render unrated_note
- else
  p.max-w-72.text-sm = t('.no_rate')
