nav.w-full.flex.items-stretch.justify-between.font-medium.text-xs.uppercase.sm:landscape:text-sm.md:landscape:text-base.md:landscape:tracking-wider.md:landscape:mx-6.lg:landscape:mx-0.lg:landscape:space-x-4 aria-label="Tabs"
  - items.each do |item|
    = item
