.flex-auto.flex.flex-col.lg:flex-row.lg:gap-5[
  data= refresh_options
]
  = tag.turbo_frame id: 'stats',
                    src: stats_path,
                    class: 'w-full lg:w-1/2 h-3/5 lg:h-auto flex',
                    target: '_top',
                    data: { stats_with_chart__component_target: 'stats' }  do
    .flex-1.flex.justify-center.items-center
      = render Loading::Component.new

  = tag.turbo_frame id: 'chart',
                    class: 'flex-auto flex'
