.flex-auto.flex.flex-col.lg:landscape:flex-row.lg:gap-5[
  data= refresh_options
]
  = tag.turbo_frame id: "stats-#{timeframe}",
                    class: 'lg:flex-1 h-3/5 min-h-72 lg:h-auto flex',
                    src: stats_path,
                    target: '_top',
                    data: { stats_with_chart__component_target: 'stats' }

  = tag.turbo_frame id: "chart-#{timeframe}",
                    class: 'flex-1 flex',
                    src: charts_path,
                    target: '_top',
                    data: { stats_with_chart__component_target: 'chart' } do
    - if chart_loading_animation?
      .flex-1.flex.justify-center.items-center
        = render Loading::Component.new
