.fade-in-slow {
  animation-name: fadeIn;
  animation-duration: 3s;
  transition-timing-function: linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.scale-pop {
  animation-name: pop;
  animation-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

@media (prefers-reduced-motion) {
  .scale-pop {
    animation: none;
  }
}

@keyframes pop {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

/* Allow animations to be disabled */
.animation-stopper * {
  animation: none !important;
  transition: none !important;
}
