/* Import Tailwind CSS */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Import styles from external libraries */
@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/animations/scale.css';
@import 'tippy.js/themes/light-border.css';
@import '@fortawesome/fontawesome-svg-core/styles.css';

.turbo-progress-bar {
  height: 5px;
  background-color: #a5b4fc;
}

/* Allow animations to be disabled */
.animation-stopper * {
  animation: none !important;
  transition: none !important;
}

/* Minimalistic form styling, inspired by DaisyUI */
.form-control {
  @apply flex flex-col;
}

.label {
  @apply p-1;
}

.label-text {
  @apply text-sm;
}

.input-error {
  @apply !border-red-500 !ring-red-500;
}
