/* Based on https://daisyui.com/components/radial-progress/ */

.badge {
  --value: 0;
  --size: 6rem;
  --thickness: calc(var(--size) / 15);
}

.badge {
  @apply relative inline-grid w-full place-content-center rounded-full;
}

.badge .inside {
  @apply flex flex-col items-center leading-normal;
}

.badge .value {
  @apply font-medium;

  font-size: calc(var(--size) / 6);
}

.badge .title {
  @apply font-medium uppercase;

  font-size: calc(var(--size) / 10);
}

@media screen(lg) {
  .badge {
    --size: 8rem;
  }
}

@media screen(xl) and screen(tall) {
  .badge {
    --size: 6rem;
    @apply box-content h-[var(--size)] w-[var(--size)] border-4 border-transparent;
  }

  .badge:before,
  .badge:after {
    @apply absolute rounded-full;
    content: '';
  }

  .badge.percent:before {
    @apply inset-0;

    background:
      radial-gradient(farthest-side, currentColor 98%, #0000)
        top/var(--thickness) var(--thickness) no-repeat,
      conic-gradient(currentColor calc(var(--value) * 1%), #0000 0);
    mask: radial-gradient(
      farthest-side,
      #0000 calc(99% - var(--thickness)),
      #000 calc(100% - var(--thickness))
    );
  }

  .badge.percent:after {
    @apply bg-current;

    inset: calc(50% - var(--thickness) / 2);
    transform: rotate(calc(var(--value) * 3.6deg - 90deg))
      translate(calc(var(--size) / 2 - 50%));
  }

  .badge .value {
    @apply font-light;

    font-size: calc(var(--size) / 4);
  }
}
