.flow {
  @apply bg-slate-300 dark:bg-slate-800;
}

.arrow {
  @apply aspect-square h-full -translate-x-full -rotate-90;
}

.arrow span {
  @apply block h-full border-r-4 border-b-4 border-slate-100/75 dark:border-gray-600/75;

  animation: flow 2s infinite;
  will-change: transform, opacity;
}

@media (prefers-reduced-motion) {
  .flow {
    @apply bg-linear-to-r from-slate-300 via-white to-slate-300 dark:from-slate-800 dark:via-slate-600 dark:to-slate-800;
  }

  .arrow span {
    animation: none;
    display: none;
  }
}

.arrow span:nth-child(1) {
  animation-delay: -0.1s;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes flow {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-100%, -100%);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(100%, 100%);
  }
}
