.flow {
  @apply bg-slate-300 dark:bg-slate-900;
}

.arrow {
  @apply aspect-square h-full -translate-x-full -rotate-90;
}

.arrow span {
  @apply block h-full border-b-4 border-r-4 border-slate-100/75 dark:border-slate-800/75;

  animation: flow 2s infinite;
  will-change: transform, opacity;
}

@media (prefers-reduced-motion) {
  .flow {
    @apply bg-gradient-to-r from-slate-300 via-white to-slate-300;
  }

  .arrow span {
    animation: none;
    display: none;
  }
}

.arrow span:nth-child(1) {
  animation-delay: -0.1s;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes flow {
  0% {
    @apply opacity-0;
    transform: rotate(45deg) translate(-100%, -100%);
  }
  50% {
    @apply opacity-100;
  }
  100% {
    @apply opacity-0;
    transform: rotate(45deg) translate(100%, 100%);
  }
}
