@layer components {
  .segment {
    @apply flex h-full w-full flex-col items-center justify-center gap-2 transition-all motion-safe:duration-1000 motion-reduce:duration-100;

    container-type: size;
    container-name: segment;

    &.tiny {
      @apply h-0 border-0 p-0;
    }

    /* Header */

    .header {
      @apply hidden;

      .title {
        @apply hidden leading-tight font-light uppercase;
      }

      &.inline {
        @apply flex-row justify-between;

        .title {
          @apply block;
        }
      }
    }

    @container segment (min-height: 2rem) {
      .header {
        @apply flex w-full flex-1 flex-row items-center justify-center gap-2 border-8 border-transparent px-1 duration-100 active:scale-95 md:gap-3;
      }
    }

    @container segment (min-height: 9rem) {
      .header {
        @apply mt-2 flex-col gap-2;
      }

      .header:not(.inline) {
        .title {
          @apply block text-center;
        }
      }
    }

    /* Splitter */

    .splitter {
      @apply mb-4 hidden w-[calc(100%-2rem)] flex-1 flex-col gap-1 overflow-hidden rounded-xl border-transparent md:w-[calc(100%-2.5rem)];
    }

    @container segment (min-height: 12rem) {
      .header {
        @apply flex-none;
      }

      .splitter {
        @apply flex;
      }
    }

    .split {
      @apply flex flex-col items-center justify-center overflow-hidden bg-green-700 px-2 text-center font-light text-white/90 duration-100 active:bg-green-900 dark:bg-green-700/50 dark:text-white/50;

      container-type: size;
      container-name: split;

      .title,
      .value {
        @apply hidden;
      }

      @container split (min-height: 2rem) {
        .title {
          @apply block w-full truncate text-xs uppercase md:text-base;
        }
      }

      @container split (min-height: 3rem) {
        .value {
          @apply block text-sm md:text-base;
        }
      }

      @container split (min-height: 5rem) {
        .title {
          @apply line-clamp-2 overflow-visible whitespace-normal;
        }
      }
    }
  }
}
