@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/animations/scale.css';
@import 'tippy.js/themes/light-border.css';

/* Disable pointer events when Tooltip is shown (see tippy_controller.ts) */
body.active-tippy * {
  @apply pointer-events-none;
}

/* Modify existing theme for Dark mode */
.tippy-box[data-theme~='light-border'] {
  @apply dark:border-slate-400 dark:bg-slate-800 dark:text-slate-300;

  &[data-placement^='top'] .tippy-arrow::before {
    @apply dark:border-t-slate-800;
  }
  &[data-placement^='top'] .tippy-arrow::after {
    @apply dark:border-t-slate-400;
  }

  &[data-placement^='left'] .tippy-arrow::before {
    @apply dark:border-l-slate-800;
  }
  &[data-placement^='left'] .tippy-arrow::after {
    @apply dark:border-l-slate-400;
  }

  &[data-placement^='right'] .tippy-arrow::before {
    @apply dark:border-r-slate-800;
  }
  &[data-placement^='right'] .tippy-arrow::after {
    @apply dark:border-r-slate-400;
  }

  &[data-placement^='bottom'] .tippy-arrow::before {
    @apply dark:border-b-slate-800;
  }
  &[data-placement^='bottom'] .tippy-arrow::after {
    @apply dark:border-b-slate-400;
  }
}
