.zebra {
  background-size: 200% 200%;
  animation: barberpole 10s linear infinite;
}

.red-zebra {
  background-image: repeating-linear-gradient(
    -60deg,
    #EF4444 0.1rem,
    #B91C1C 0.1rem,
    #EF4444 1rem
  );
}

.green-zebra {
  background-image: repeating-linear-gradient(
    -60deg,
    #10B981 0.1rem,
    #047857 0.1rem,
    #10B981 1rem
  );
}

@keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
}
