div class="w-full relative transition-[height] duration-[1000ms]" style="height: #{height}%"
  div class="absolute h-full inset-0 bg-gradient-to-r from-slate-300 via-transparent to-slate-300"
  div class="h-full w-full animated-gradient"
