.red-zebra {
  background-image: repeating-linear-gradient(
    -90deg,
    #FEE2E2 0.1rem,
    #EF4444 1rem
  );
  background-size: 200% 200%;
  animation: barberpole 20s linear infinite;
}

.green-zebra {
  background-image: repeating-linear-gradient(
    -90deg,
    #D1FAE5 0.1rem,
    #10B981 1rem
  );
  background-size: 200% 200%;
  animation: barberpole 20s linear infinite;
}


@keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
}
