<div class="p-3 bg-white rounded shadow">
  <h1 class="text-base text-gray-600 uppercase tracking-wider text-center">
    <%= title %>
  </h1>

  <p class="mt-5 text-3xl text-center">
    <%= value %>
  </p>

  <% if defined? extra %>
  <p class="text-xl text-gray-400 text-center">
    <%= extra %>
  </p>
  <% end %>
</div>