<div class="max-w-2xl mx-auto grid sm:grid-cols-2 gap-5">
  <%= render 'shared/card', title: t('calculator.inverter_power'),   value: number_to_kw(calculator.inverter_power) %>
  <%= render 'shared/card', title: t('calculator.house_power'),      value: number_to_kw(calculator.house_power) %>
  <%= render 'shared/card', title: t('calculator.grid_power_plus'),  value: number_to_kw(calculator.grid_power_plus) %>
  <%= render 'shared/card', title: t('calculator.grid_power_minus'), value: number_to_kw(calculator.grid_power_minus) %>
</div>