- if request.get?
  = render TurboModal::Component.new(title: t('settings.cash_flows.new')) do
    = render 'form', cash_flow: @cash_flow
- else
  = turbo_stream.replace(dom_id(@cash_flow, :form), partial: 'form', locals: { cash_flow: @cash_flow })
