.splitted-costs
  - if show_power_breakdown? && power_grid_ratio
    .tooltip-group
      .splitted-costs-ratio
        div
          = render SensorValue::Component.new(power_pv_ratio, :autarky)
          =< t('.generated')
        .w-full.flex.gap-px.rounded.overflow-hidden.mt-1
          - if power_pv_ratio.positive?
            .h-3.bg-sensor-pv[
              style= "width: #{power_pv_ratio}%;"
            ]
          - if power_grid_ratio.positive?
            .h-3.bg-sensor-grid[
              style= "width: #{power_grid_ratio}%;"
            ]

  / What the caller adds, like the energy by source, stands below the share
  - if content.present?
    .tooltip-group
      = content

  - if note
    .splitted-costs-note
      = note

  - if costs?
    div class= ['tooltip-group splitted-costs-list', ('splitted-costs-list-spaced' if show_power_breakdown?)]
      - if base_fee?
        .label-value-row
          span
            = operator(nil)
            = t('sensors.grid_base_fee_short')
          = render SensorValue::Component.new(base_fee, :total_costs, sign: :negative, precision:)

        .label-value-row
          span
            = operator('+')
            = t('sensors.grid_energy_costs_short')
          = render SensorValue::Component.new(energy_costs, :total_costs, sign: :negative, precision:)

      - if grid_costs
        .label-value-row
          span
            = operator('=')
            = t('.grid_costs')
          = render SensorValue::Component.new(grid_costs, :total_costs, sign: :negative, precision:)

      - if pv_costs
        .label-value-row
          span
            - if base_fee?
              = operator('+')
            - elsif grid_costs
              |&plus;&nbsp;
            = t('.opportunity_costs')
          = render SensorValue::Component.new(pv_costs, :total_costs, sign: :negative, precision:)

      div class= ('label-value-row label-value-separator splitted-costs-total tooltip-total' if breakdown?)
        - if breakdown?
          strong.font-semibold
            - if base_fee?
              = operator('=')
            - else
              |&#61;&nbsp;
            = t('.total_costs')
        = render SensorValue::Component.new(costs, :total_costs, sign: :negative, precision:, class: 'splitted-costs-amount')
