= tag.dialog(**dialog_attributes)
  div class=panel_class tabindex='-1'
    .bottom-sheet-header
      .bottom-sheet-grabber aria-hidden='true'
      - if title?
        h1.bottom-sheet-title id=title_id
          = title
      button.bottom-sheet-close type='button' aria-label=t('.close')
        = icon 'xmark', class: 'fa-fw'
    .bottom-sheet-content
      = content
