.label-value-row
  .flex.items-center.gap-2
    div class= ['label-value-swatch', color_class] style= swatch_style
    span.text-sm.opacity-75
      = label
  span.font-semibold.whitespace-nowrap
    = content
