.tooltip-layout.tooltip-layout-table
  dl.tooltip-group
    = render CalcRow::Component.new(label: Sensor::Registry[:inverter_power].display_name(:short)) do
      = render SensorValue::Component.new(self_consumption.parts.first, :inverter_power, **self_consumption.options)
    = render CalcRow::Component.new(label: Sensor::Registry[:grid_export_power].display_name(:short), operator: :minus) do
      = render SensorValue::Component.new(self_consumption.parts.last&.abs, :grid_export_power, **self_consumption.options)
    = render CalcRow::Component.new(label: Sensor::Registry[:self_consumption].display_name(:short), operator: :equals) do
      = render SensorValue::Component.new(self_consumption.sum, :self_consumption, **self_consumption.options)

  dl.tooltip-group
    = render CalcRow::Component.new(label: Sensor::Registry[:inverter_power].display_name(:short), operator: :divide) do
      = render SensorValue::Component.new(self_consumption.parts.first, :inverter_power, **self_consumption.options)
    = render CalcRow::Component.new(label: Sensor::Registry[:self_consumption_quote].display_name(:long), operator: :equals, total: true) do
      = render SensorValue::Component.new(data, :self_consumption_quote)
