.max-w-72.space-y-3
  / The calculation, one term per row, like a written division
  table.border-separate.border-spacing-x-2.border-spacing-y-1
    tr
      td
      td.text-left.text-sm.opacity-75 = sum_label
      td.text-right.font-semibold.whitespace-nowrap
        = render sum_value
    tr
      td.text-sm.opacity-75 = '÷'
      td.text-left.text-sm.opacity-75 = t('sensors.car_distance_short')
      td.text-right.font-semibold.whitespace-nowrap
        = render SensorValue::Component.new(rated_distance, :car_mileage_1)
    tr
      td colspan=3
        hr.my-1.border-gray-400.dark:border-slate-500.opacity-50
    tr
      td.text-sm.opacity-75 = '='
      td.text-left.text-sm.opacity-75 = rate_label
      td.text-right.font-semibold.whitespace-nowrap
        = render rate_value

  .label-value-separator.pt-2.space-y-1.text-sm
    p = t('.reason', days: margin_days)
    p = t('.charge_losses')
    - if distance
      = render Car::UnratedNote::Component.new(distance:, rated_distance:)
