- if breakdown?
  .tooltip-group
    .label-value-row
      span = t('sensors.grid_base_fee_short')
      = render SensorValue::Component.new(costs.parts.first, :grid_base_fee, sign: :negative, **costs.options)

    .label-value-row
      span
        |&plus;&nbsp;
        = t('sensors.grid_energy_costs_short')
      = render SensorValue::Component.new(costs.parts.last, :grid_energy_costs, sign: :negative, **costs.options)

    .label-value-row.label-value-separator.tooltip-total
      strong.font-semibold
        |&#61;&nbsp;
        = t('sensors.grid_costs_short')
      = render SensorValue::Component.new(costs.sum, :grid_costs, sign: :negative, **costs.options)

- else
  = render SensorValue::Component.new(data, :grid_costs, sign: :negative, class: 'text-xl')
