span class=wrapper_class data-controller='tooltip' data-tooltip-touch-value='true'
  i class=full_icon_class
  span.hidden data-tooltip-target='html'
    - paragraphs.each_with_index do |paragraph, index|
      p class=('mt-2' if index.nonzero?)
        = paragraph
