ruby:
  options = {
    maintainAspectRatio: false,
    legend: false,
    title: {
      fontSize: 20,
      display: true,
      text: if field == 'bat_fuel_charge'
              "#{I18n.t "calculator.#{field}"} in %"
            else
              "#{I18n.t "calculator.#{field}"} in #{timeframe.in?(%w[now day]) ? 'kW' : 'kWh'}"
            end
    },
    animation: {
      easing: 'easeOutQuad',
      duration: 300
    },
    elements: {
      point: {
        radius: 0,
        hitRadius: 5,
        hoverRadius: 5
      }
    },
    tooltips: {
      displayColors: false,
      titleFontSize: 16,
      bodyFontSize: 20
    },
    scales: {
      xAxes: [
        {
          gridLines: {
            drawOnChartArea: false
          },
          ticks: {
            maxRotation: 0
          },
          offset: !timeframe.in?(%w[now day]),
          distribution: timeframe.in?(%w[now day]) ? 'linear' : 'series',
          type: 'time',
          time: {
            'now'   => { unit: 'minute', stepSize: 15, displayFormats: { minute: 'HH:mm' }, tooltipFormat: 'HH:mm:ss' },
            'day'   => { unit: 'hour',   stepSize: 3,  displayFormats: { hour:   'HH:mm' }, tooltipFormat: 'HH:mm' },
            'week'  => { unit: 'day',    stepSize: 1,  displayFormats: { day:    'ddd'   }, tooltipFormat: 'dddd, DD.MM.YYYY' },
            'month' => { unit: 'day',    stepSize: 2,  displayFormats: { day:    'D'     }, tooltipFormat: 'dddd, DD.MM.YYYY' },
            'year'  => { unit: 'month',  stepSize: 1,  displayFormats: { month:  'MMM'   }, tooltipFormat: 'MMMM YYYY' },
            'all'   => { unit: 'year',   stepSize: 1,  displayFormats: { year:   'YYYY'  }, tooltipFormat: 'YYYY' }
          }[timeframe]
        }
      ],
      yAxes: [
        {
          ticks: {
            beginAtZero: true,
            maxTicksLimit: 4
          }
        }
      ]
    }
  }

= tag.canvas id: "chart-#{timeframe}",
             data: { \
               controller: 'charts',
               charts_url_value: charts_path(permitted_params.to_hash.symbolize_keys),
               charts_options_value: options.to_json,
               charts_type_value: timeframe.in?(%w[now day]) ? 'line' : 'bar' \
             },
             class: 'w-full h-full',
             style: 'min-height: 250px'
