.mt-10.text-center
  - if calculator.live?
    span.bg-gradient-to-r.from-yellow-500.to-red-400.font-bold.tracking-widest.text-white.rounded.py-2.px-3
      | LIVE
  - else
    = tag.span class: 'bg-gray-700 text-gray-100 rounded py-2 px-3', title: l(calculator.time) do
      = t('calculator.time')
      = time_ago_in_words calculator.time, include_seconds: true
